$blanco: #fff;
$gris: #F4F5F7;
$rojo: #B01612;
$plomo: #111518;
$plomo1: #CDCDCD;
$gristexto: #9398A1;
$negro: #000;
$plomoaside: #788596;
$morado: #832E7F;
$amarillo: #FFEA56;
$lila: #C02B6B;
$rojoclaro: #D90000;
$rojooscuro: #811101;

#banner {
    background-color: $gris;
    padding-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 1px solid #dbdbdb;
    ul {
        list-style-type: none;
        padding-left: 0;
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 15px;
    }
    li {
        display: inline-block;
        margin-right: 15px;
        a {
            color: $gristexto;
        }
    }
}

.media {
    float: right;
    margin-top: 10px;
    .boletin {
        background-color: $rojoclaro;
        color: $blanco;
        text-transform: uppercase;
        padding: 1px 4px;
        font-size: 1.1rem;
        margin-top: -5px;
    }
    a {
        margin-left: 15px;
        font-size: 1.3rem;
    }
    .fa-facebook {
        color: #487DA8;
    }
    .fa-twitter {
        color: #46B5D9;
    }
    .fa-google-plus {
        color: $rojoclaro;
        font-weight: bold;
    }
    .fa-envelope {
        color: #F0C639;
    }
    .fa-rss {
        color: #E28F32;
    }
    form {
        display: inline-block;
        border-right: 1px solid #dbdbdb;
        border-left: 1px solid #dbdbdb;
        margin-left: 10px;
        position: relative;
        color: $gristexto;
        padding: 8px 0;
        input {
            background-color: $gris;
            border: none;
            text-align: center;
            width: 80px;
        }
        i {
            position: absolute;
            right: 10%;
            top: 36%;
            font-size: 0.8rem;
        }
    }
}

header {
    padding: 20px 0 0 0;
    background-color: $blanco;
    font-size: 1.2rem;
    margin-bottom: -10px;
    .logo {
        margin: 20px 0;
    }
    .futbol-box {
        text-transform: uppercase;
        text-align: center;
        position: relative;
        font-weight: bold;
        padding: 13px 0;
        div:first-child {
            background-color: #3A4555;
            color: $blanco;
            width: 145px;
            padding: 3px;
            box-shadow: 0px 1px 2px grey;
            position: absolute;
            left: 25%;
            top: 0%;
        }
        div:last-child {
            border: 1px solid #dbdbdb;
            border-bottom: 2px solid #3A4555;
            padding: 20px;
        }
    }
    .editorial {
        padding: 13px 0;
        position: relative;
        div:first-child {
            background-color: $negro;
            padding: 6px 4px;
            position: absolute;
            width: 100%;
        }
        div:nth-child(2) {
            border: 1px solid #dbdbdb;
            background-color: $blanco;
            border-radius: 15px;
            position: absolute;
            top: 45%;
            left: 7%;
            padding: 13px;
            width: 90%;
            text-align: center;
        }
        p:nth-child(1) {
            font-weight: bold;
            margin-bottom: 0;
        }
        p:nth-child(2) {
            font-style: italic;
            margin-bottom: 0;
        }
        img:nth-child(3) {
            position: absolute;
            right: 0;
            top: 25%;
        }
    }
    .navbar-default {
        background-color: $rojo;
        text-transform: uppercase;
        padding: 0;
        text-align: center;
        min-height: 30px;
        font-size: 1.1rem;
        margin-top: 20px;
        a {
            padding: 5px 8px;
            color: $blanco !important;
        }
        li {
            border-right: 1px solid $rojooscuro;
        }
        li:last-child {
            border: none;
        }
    }
    .collapse {
        visibility: visible;
    }
}
.dropdown-menu {
    background-color: $rojooscuro;
    font-size: 1.1rem;
}

#temas {
    font-size: 1.1rem;
    margin-bottom: 10px;
    .temas-del-dia {
        background-color: $negro;
        color: $blanco;
        display: inline-block;
        width: 110px;
        padding: 7px 5px;
        text-transform: uppercase;
        font-size: 1.2rem;
        text-align: center;
        border-radius: 3px 0 0px 3px;
    }
    .tags {
        background-color: $gris;
        display: inline-block;
        border-radius: 0px 3px 3px 0;
        width: 88%;
        padding: 2px 0 0;
        ul {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 8px;
        }
        li {
            display: inline-block;
            padding: 6px 3px 0;
        }
        a {
            color: $gristexto;
        }
        i {
            font-size: 0.7rem;
            padding-left: 15px;
            padding-right: 5px;
        }
    }
}

@media screen and (max-width: 980px) {
    header {
        .col-lg-5 {
            display: none;
        }
    }
    #temas {
        display: none;
    }
}
