#banner {
  background-color: #F4F5F7;
  padding-top: 10px;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px solid #dbdbdb; }
  #banner ul {
    list-style-type: none;
    padding-left: 0;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 15px; }
  #banner li {
    display: inline-block;
    margin-right: 15px; }
    #banner li a {
      color: #9398A1; }

.media {
  float: right;
  margin-top: 10px; }
  .media .boletin {
    background-color: #D90000;
    color: #fff;
    text-transform: uppercase;
    padding: 1px 4px;
    font-size: 1.1rem;
    margin-top: -5px; }
  .media a {
    margin-left: 15px;
    font-size: 1.3rem; }
  .media .fa-facebook {
    color: #487DA8; }
  .media .fa-twitter {
    color: #46B5D9; }
  .media .fa-google-plus {
    color: #D90000;
    font-weight: bold; }
  .media .fa-envelope {
    color: #F0C639; }
  .media .fa-rss {
    color: #E28F32; }
  .media form {
    display: inline-block;
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    margin-left: 10px;
    position: relative;
    color: #9398A1;
    padding: 8px 0; }
    .media form input {
      background-color: #F4F5F7;
      border: none;
      text-align: center;
      width: 80px; }
    .media form i {
      position: absolute;
      right: 10%;
      top: 36%;
      font-size: 0.8rem; }

header {
  padding: 20px 0 0 0;
  background-color: #fff;
  font-size: 1.2rem;
  margin-bottom: -10px; }
  header .logo {
    margin: 20px 0; }
  header .futbol-box {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-weight: bold;
    padding: 13px 0; }
    header .futbol-box div:first-child {
      background-color: #3A4555;
      color: #fff;
      width: 145px;
      padding: 3px;
      box-shadow: 0px 1px 2px grey;
      position: absolute;
      left: 25%;
      top: 0%; }
    header .futbol-box div:last-child {
      border: 1px solid #dbdbdb;
      border-bottom: 2px solid #3A4555;
      padding: 20px; }
  header .editorial {
    padding: 13px 0;
    position: relative; }
    header .editorial div:first-child {
      background-color: #000;
      padding: 6px 4px;
      position: absolute;
      width: 100%; }
    header .editorial div:nth-child(2) {
      border: 1px solid #dbdbdb;
      background-color: #fff;
      border-radius: 15px;
      position: absolute;
      top: 45%;
      left: 7%;
      padding: 13px;
      width: 90%;
      text-align: center; }
    header .editorial p:nth-child(1) {
      font-weight: bold;
      margin-bottom: 0; }
    header .editorial p:nth-child(2) {
      font-style: italic;
      margin-bottom: 0; }
    header .editorial img:nth-child(3) {
      position: absolute;
      right: 0;
      top: 25%; }
  header .navbar-default {
    background-color: #B01612;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
    min-height: 30px;
    font-size: 1.1rem;
    margin-top: 20px; }
    header .navbar-default a {
      padding: 5px 8px;
      color: #fff !important; }
    header .navbar-default li {
      border-right: 1px solid #811101; }
    header .navbar-default li:last-child {
      border: none; }
  header .collapse {
    visibility: visible; }

.dropdown-menu {
  background-color: #811101;
  font-size: 1.1rem; }

#temas {
  font-size: 1.1rem;
  margin-bottom: 10px; }
  #temas .temas-del-dia {
    background-color: #000;
    color: #fff;
    display: inline-block;
    width: 110px;
    padding: 7px 5px;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 3px 0 0px 3px; }
  #temas .tags {
    background-color: #F4F5F7;
    display: inline-block;
    border-radius: 0px 3px 3px 0;
    width: 88%;
    padding: 2px 0 0; }
    #temas .tags ul {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 8px; }
    #temas .tags li {
      display: inline-block;
      padding: 6px 3px 0; }
    #temas .tags a {
      color: #9398A1; }
    #temas .tags i {
      font-size: 0.7rem;
      padding-left: 15px;
      padding-right: 5px; }

@media screen and (max-width: 980px) {
  header .col-lg-5 {
    display: none; }

  #temas {
    display: none; } }

/*# sourceMappingURL=_header.css.map */
