mixin segunda-linea
    .col-lg-3
        ul
            li: a(href="#") Al fondo hay sitio
            li: a(href="#") Alejandro Toledo
            li: a(href="#") Alianza Lima
            li: a(href="#") Alianza Lima
            li: a(href="#") Banco de la Nación
            li: a(href="#") Barack Obama
            li: a(href="#") Universidad Cesar Vallejo
            li: a(href="#") Universidad San Martin
            li: a(href="#") Barcelona
            li: a(href="#") Bayern Múnich
            li: a(href="#") Bayern Múnich
            li: a(href="#") BBVA
            li: a(href="#") Xbox
            li: a(href="#") BCP
            li: a(href="#") Batman
            li: a(href="#") Bayern Múnich
            li: a(href="#") Bayern Múnich
            li: a(href="#") BBVA
            li: a(href="#") Xbox
            li: a(href="#") BCP
footer 
    .container
        .row
            .col-lg-4
                img(src="assets/image/logo-grupo-la-republica.png", alt="logo-republica")
                p Grupo La República Digital
                p.mb-0 Jr. Camaná 320 Cercado de Lima
                p.mb-0 Teléfono: 711-6000
                p.mb-0 (Central Telefónica)
                p Todos los derechos reservados - 2015
            .col-lg-3
                ul
                    li: a(href="#") Roger Federer
                    li: a(href="#") SBS
                    li: a(href="#") Scarlett Johansson
                    li: a(href="#") Scotiabank
                    li: a(href="#") Selena Gomez
                    li: a(href="#") Spiderman
                    li: a(href="#") Sporting Cristal
                    li: a(href="#") Sunat
                    li: a(href="#") Telefónica del Perú
                    li: a(href="#") The Walking Dead
                    li: a(href="#") Twitter
                    li: a(href="#") Universidad Cesar Vallejo
                    li: a(href="#") Universidad San Martín
                    li: a(href="#") Universidad de deportes
                    li: a(href="#") Xbox
                    li: a(href="#") YouTube
                    li: a(href="#") Bayern Múnich
                    li: a(href="#") Bayern Múnich
                    li: a(href="#") BBVA
                    li: a(href="#") Xbox
                    li: a(href="#") BCP
            + segunda-linea
            .col-lg-3
                ul
                    li: a(href="#") One Direction
                    li: a(href="#") ONPE
                    li: a(href="#") Pablo Escobar
                    li: a(href="#") Paolo Guerrero
                    li: a(href="#") Pensión 65
                    li: a(href="#") PNP
                    li: a(href="#") Precio del dólar
                    li: a(href="#") Universidad Cesar Vallejo
                    li: a(href="#") Universidad San Martín
                    li: a(href="#") Premier League
                    li: a(href="#") Bayern Múnich
                    li: a(href="#") Bayern Múnich
                    li: a(href="#") BBVA
                    li: a(href="#") Xbox
                    li: a(href="#") BCP
                    li: a(href="#") Proyecto Conga
                    li: a(href="#") PUCP
                    li: a(href="#") Real Madrid
                    li: a(href="#") Redes sociales
                    li: a(href="#") Reniec
                    li: a(href="#") Robert Pattinson
            + segunda-linea
        .row
            ul.diarios
                li Diarios del PAL
                li: a(href="#") Clarin |
                li: a(href="#") La Tercera |
                li: a(href="#") El Universal Colombia |
                li: a(href="#") El Universal Venezuela |
                li: a(href="#") Vanguardia |
                li: a(href="#") La prensa |
                li: a(href="#") El Salvador |
                li: a(href="#") La Verdad |
                li: a(href="#") Diario Libre |
                li: a(href="#") El diario de hoy |
                li: a(href="#") El colombiano
