doctype html
html
    head
        title Header
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="assets/css/bootstrap.min.css")
        link(rel="stylesheet", href="assets/css/font-awesome.css")
        link(rel="stylesheet", href="assets/sass/_header.css")
    body
        #banner
            .container
                img(src="assets/image/banner_top.jpg", alt="_navegan", class="img-responsive")
                .row
                    .col-lg-7.col-md-7
                        ul
                            li: a(href="http://www.libero.pe/") libero.pe
                            li: a(href="http://www.elpopular.pe/") elpopular.pe
                            li: a(href="http://fundacionmohme.org/") fundación gustavo mohme llona
                    .col-lg-5.col-md-5    
                        .media
                            .boletin.btn suscríbete al boletín
                            a(href="https://www.facebook.com/larepublicape/?fref=ts"): i.fa.fa-facebook
                            a(href="https://twitter.com/larepublica_pe?lang=es"): i.fa.fa-twitter 
                            a(href="https://plus.google.com/+larepublica/posts"): i.fa.fa-google-plus 
                            a(href="https://www.facebook.com/larepublicape/?fref=ts"): i.fa.fa-envelope 
                            a(href="https://www.facebook.com/larepublicape/?fref=ts"): i.fa.fa-rss 
            
    
