$blanco: #fff;
$gris: #F4F5F7;
$rojo: #B01612;
$plomo: #111518;
$gristexto: #9398A1;
$negro: #000;
$plomoaside: #788596;
$morado: #832E7F;
$amarillo: #FFEA56;
$lila: #C02B6B;
$rojoclaro: #D90000;
$rojooscuro: #811101;
